/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <250>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE          &kp Q  &kp W        &kp E            &kp R             &kp T           &kp Y        &kp U              &kp I           &kp O             &kp P      &kp MINUS
&kp LEFT_BRACKET   &kp A  &kp S        &kp D            &mt LEFT_SHIFT F  &kp G           &kp H        &mt RIGHT_SHIFT J  &kp K           &kp SEMICOLON     &kp SEMI   &kp SQT
&kp RIGHT_BRACKET  &kp Z  &mt LCTRL X  &mt LALT C       &mt LGUI V        &kp B           &kp N        &mt RGUI M         &mt RALT COMMA  &mt RCTRL PERIOD  &kp SLASH  &kp EQUAL
                                       &mt LCTRL LC(A)  &lt 3 SPACE       &lt 4 ESCAPE    &lt 2 ENTER  &lt 1 BACKSPACE    &kp TAB
            >;
        };

        num {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp N7        &kp N8        &kp N9        &kp N0       &none   &none          &none     &none      &none      &none
&trans            &kp NON_US_BACKSLASH  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp EQUAL    &none   &none          &none     &none      &none      &none
&trans            &kp GRAVE             &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS    &none   &kp RIGHT_GUI  &kp RALT  &kp RCTRL  &kp RSHFT  &none
                                                      &trans        &trans        &trans       &trans  &trans         &trans
            >;
        };

        sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp LEFT_BRACE  &kp RIGHT_BRACE  &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &none   &none     &none     &none      &none      &none
&none           &kp PIPE         &kp DOLLAR       &kp PERCENT   &kp CARET             &kp PLUS                 &none   &none     &none     &none      &none      &none
&none           &kp TILDE        &kp EXCLAMATION  &kp AT_SIGN   &kp HASH              &kp UNDERSCORE           &none   &kp RCMD  &kp RALT  &kp RCTRL  &kp RSHFT  &none
                                                  &trans        &trans                &trans                   &trans  &trans    &trans
            >;
        };

        vimnav {
            bindings = <
&trans  &trans     &trans     &trans    &trans    &trans    &mt LS(V) V            &kp K_UNDO      &kp K_CUT      &kp K_COPY    &kp K_PASTE  &kp K_REDO
&trans  &trans     &trans     &trans    &trans    &trans    &kp LC(LEFT_BRACKET)   &kp LEFT_ARROW  &kp DOWN       &kp UP_ARROW  &kp RIGHT    &trans
&trans  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &trans    &kp LC(RIGHT_BRACKET)  &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP   &kp END      &trans
                              &trans    &trans    &trans    &trans                 &trans          &trans
            >;
        };

        misc {
            bindings = <
&none  &none      &none      &none     &none     &none     &to 5       &kp F9  &kp F10  &kp F11  &kp F12  &none
&none  &none      &none      &none     &none     &none     &kp CLCK    &kp F5  &kp F6   &kp F7   &kp F8   &none
&none  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI  &none     &kp K_MENU  &kp F1  &kp F2   &kp F3   &kp F4   &none
                             &trans    &trans    &trans    &trans      &trans  &trans
            >;
        };

        mouse {
            bindings = <
&none  &none      &none      &none      &none  &none    &to 0  &none     &none     &none      &none      &none
&none  &none      &none      &none      &none  &none    &none  &none     &none     &none      &none      &none
&none  &mkp LCLK  &mkp RCLK  &mkp MCLK  &none  &none    &none  &kp RGUI  &kp RALT  &kp RCTRL  &kp RSHFT  &none
                             &none      &none  &none    &none  &none     &none
            >;
        };
    };
};
